*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(92, 92, 211, 0.7);
}

h1{
    padding: 8px;
    display:block;
    text-align:center;
    background-color: white;
}
#conteudo{
    
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    /* width: 200px; */
    height: 100px;
    background-color: white;
    border:  2px dotted black;
    border-radius: 0.3em;
    margin: 10px;
    font-size: 18pt;
    text-align: center;

    /* Define proporção de espaço ocupado por um item */
    flex-grow: 0;

    /* Define a capacidade de redução de tamanho do item */
    flex-shrink: 1;

    /* Indica o tamanho inicial do flex item antes da distribuição do espaço restante */
    flex-basis: 200px;
}
.item1{
   flex-grow: 2; 
   flex-shrink: 1;
}
.item2{
    flex-grow: 10; 
    flex-shrink: 10;
}

.item3{
    flex-grow:2; 
    flex-shrink:1;
}
.item4{
    flex-grow: 20; 
    flex-shrink:5;
}
.item5{
    flex-grow: 1; 
    flex-shrink:5;
}
.item6{
    flex-grow: 20;
    flex-shrink:2;
}
.item7{
    flex-grow: 5;
    flex-shrink:100;
}
.item8{
    flex-grow: 6;
    flex-shrink:2;
}
.item9{
    flex-grow: 2;
    flex-shrink:5;
}
.item10{
    flex-grow: 20;
    flex-shrink:100;
}



/* ordenação de itens */
/* .ordem{
    order: -1;
}

.ordem1{
    order: 1;
}
.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}
.ordem4{
    order: 4;
} */
